{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

   <div class="container text-white">

        

    {% if app.user %}
    {% if app.user.spe == null %}
    <div class="alert alert-danger mt-3" role="alert">
    Compléter votre inscription en cliquant <a href="{{path('Registerfull')}}">ici</a> 
    </div>
    {% endif %}
    {% endif %}

    
    {# {% for article in articles %}
      <pre>
        {{ dump(article) }}
      </pre>
      {{article.title}} <br>
      {{article.content}} <br>
      {{article.category.name}}
    {% endfor %} #}
    

   </div>

<div class="container py-4 bg-dark">

    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Nos Ambitions ?</h1>
        <p class="col-md-8 fs-4">
        L'ambition de la guilde est l'ambition de chacun de ses joueurs : donner le meilleur et se perfectionner dans un climat de critique saine!

        Nous cherchons à clean le Mythic le plus rapidement possible en deux soirs par semaine.

        Pour se faire, nous demandons un niveau de jeu très élevé, afin de constituer un apport pour le roster et non un poids.

        Si vous pensez correspondre à ces critères et que vous avez envie d'évoluer parmi des joueurs ayant les mêmes idéaux que vous, venez nous rencontrer!</p>
        <button class="btn btn-primary btn-lg" type="button">Rejoins-Nous</button>
      </div>
    </div>

    <div class="row align-items-md-stretch">
    <div class="col-md-6">
        {% if newsArticle %}
            <div class="h-100 p-5 text-bg-dark rounded-3 border">
                <h2>{{ newsArticle.title }}</h2>
                <p>{{ newsArticle.content }}</p>
            </div>
        {% endif %}
    </div>
    <div class="col-md-6">
        {% if recruitmentArticle %}
            <div class="h-100 p-5 text-bg-light rounded-3 border">
                <h2>{{ recruitmentArticle.title }}</h2>
                <p>{{ recruitmentArticle.content }}</p>
                {# Gestion des link  #}
                {% if not app.user %}
                    <a href="{{ path('Register') }}" class="btn bg-dark text-white">Créer un compte</a>
                {% endif %}

                {% if app.user and not is_granted('ROLE_ADMIN') and not is_granted('ROLE_ROOSTER') and not is_granted('ROLE_MEMBRE') %}
                    <a href="{{ path('Registerfull') }}" class="btn bg-dark text-white">Continuer votre inscription</a>
                {% endif %}

                {% if app.user and is_granted('ROLE_MEMBRE') %}
                    <a href="{{ path('applyng') }}" class="btn bg-dark text-white">Nous Rejoindre</a>
                {% endif %}

                


                
            </div>
        {% endif %}
    </div>
</div>


        {# rooster #}
    <div class="my-3 p-3 bg-dark rounded text-white">
    <h6 class=" pb-2 mb-0">Rooster</h6>

    {# Tank #}
    <h6 class="border-bottom border-top pt-2 pb-2 mb-0 mt-2"><img width="32" height="32" src="/images/role/tank.jpg" alt=""> Tank</h6>
    {% for user in users %}
        {% if 'ROLE_ROOSTER' in user.roles %}
            {% if user.spe.speRole == "Tank" %}
            <div class="d-flex text-body-secondary pt-3 ">
                <img class= "me-2" width="32" height="32" src="/uploads/{{user.spe.image.path}}" alt="">
                    <strong class="d-block text-white me-2">{{user.username}}</strong>
            </div>
            {% endif %}
        {% endif %}
    {% endfor %}

    {# DPS #}
    
    <h6 class="border-bottom border-top pt-2 pb-2 mb-0 mt-2"><img width="32" height="32" src="/images/role/dps.jpg" alt=""> Dps</h6>

    {% for user in users %}
        {% if 'ROLE_ROOSTER' in user.roles %}
            {% if user.spe.speRole == "Dps" %}
            <div class="d-flex text-body-secondary pt-3 ">
                <img class= "me-2" width="32" height="32" src="/uploads/{{user.spe.image.path}}" alt="">
                    <strong class="d-block text-white me-2">{{user.username}}</strong>
            </div>
            {% endif %}
        {% endif %}
    {% endfor %}


    {# HEAL #}
    <h6 class="border-bottom border-top pt-2 pb-2 mb-0 mt-2"><img width="32" height="32" src="/images/role/heal.jpg" alt=""> Heal</h6>

    {% for user in users %}
        {% if 'ROLE_ROOSTER' in user.roles %}
            {% if user.spe.speRole == "Heal" %}
            <div class="d-flex text-body-secondary pt-3 ">
                <img class= "me-2" width="32" height="32" src="/uploads/{{user.spe.image.path}}" alt="">
                    <strong class="d-block text-white me-2">{{user.username}}</strong>
            </div>
            {% endif %}
        {% endif %}
    {% endfor %}

  </div>
    

    <div class="pt-3 mt-4 text-body-secondary border-top">
    </div>
  </div>

  
{% endblock %}
